* {
  overflow-x: clip;
  box-sizing: border-box;
  margin: 0;
  /* overflow-y: clip; */
}

.loader-scroller {
  overflow-y: visible !important;
}

body {
  position: relative;
  height: 100vh;
  /* left: 78px; */
  /* width: calc(100% - 260px); */
}

/* enter-content-start------------------------------------------------------------------------------------------------------------------------------------------------------- */

.mybody {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Graphik', sans-serif;
  /* -webkit-user-select: none; */
  overflow: hidden;
  overflow-x: visible;
}
.mybody .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  overflow-x: visible;
}
.mybody .vertical-centered-box:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  overflow-x: visible;
}
.enter-logo{
  position: absolute;
  top: 50%;
  display: none;
}
.enter-icon {
  position: absolute;
  top: 60%;
  margin-left: 15px;
  display: none;
}
.mybody .vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
  overflow-x: visible;
}
* {
  transition: all 1s;
}
body {
  background: #ffffff;
}

#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 200%;
  transform: scale3d(0.5, 0.5, 1);
  z-index: -1;
  /* display: none; */
  overflow-x: visible;
}
.particles-fadeout {
  opacity: 0;
}
#particles-background {
  background: #26255E;
  background-image: -moz-linear-gradient(45deg, #ffffff 2%, #ffffff 100%);
  background-image: -webkit-linear-gradient(45deg, #ffffff 2%, #ffffff 100%);
  background-image: linear-gradient(45deg, #ffffff 2%, #ffffff 100%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* enter-content-end------------------------------------------------------------------------------------------------------------------------------------------------------- */

.bx-menu:hover {
  cursor: pointer;
}

.sidebar{
  font-family: 'Graphik', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  background: #212121;
  z-index: 100;
  transition: all 0.5s ease;
  padding-top: 16px;
}

.sidebar.close{
  width: 78px;
}

.sidebar .logo-details{
  height: 42px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i{
  font-size: 24px;
  color: #ffffff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name{
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
  background: #B71C1C;
}

.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link{
  display: block
}

.sidebar .nav-links li i{
  height: 40px;
  min-width: 78px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  /* padding: 6px 6px 14px 80px; */
  padding-left: 88px;
  margin-top: 10px;
  background: #B71C1C;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}

.corner-align {
  display: flex;
  padding-left: 0;
}

.sidebar .nav-links li .sub-menu a{
  color: #ffffff;
  font-size: 12px;
  padding: 12px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  /* margin-top: 200px; */
  bottom: 0;
  /* width: 260px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #ffffff; */
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #bdbdbd;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
  padding-top: 10px;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

/* ------------------------------------------------------------------------------------------ */
.crafted-with {
  text-align: center;
  padding-top: 6rem;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: clip;
  font-family: 'Graphik', sans-serif;
  font-weight: bold;
}


.heart {
  text-decoration: none;
  color: #B71C1C;
}


@media (max-width: 600px) {
  
  .crafted-with {
    padding-top: 2.5rem;
    line-height: 2vw;
    font-size: 2vw;
  }

}

/* top-header-end------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* floating-intro-start------------------------------------------------------------------------------------------------------------------------------------------------------- */

.floating-intro {
  background-color: transparent;
  display: grid;
  gap: 2rem;
  grid-template-columns: 50% 50%;
  width: min (100%);
  margin-inline: auto;
  padding-top: 2rem;
  padding-bottom: 6rem;
  align-items: center;
}

.floating-pic {
  margin-left: auto;
  overflow-x: visible;
}

.floating-img {
  width: 30vw;
  /* opacity: 80%; */
  border-radius: 10px;
  box-shadow: 8px 8px 0px #B71C1C;
}

.floating-text {
  margin-right: auto;
  /* width: 30rem; */
}

.floating-text h1 {
  color: #B71C1C;
  font-size: 8vw;
  font-weight: bold;
  text-shadow: -2px 02px #212121;
}

@media (max-width: 50em) {

  .floating-intro {
    grid-template-columns: 100%;
    text-align: center;
  }

  .floating-pic {
    margin-left: auto;
    margin-right: auto;
  }

  .floating-img {
    width: 60vw;
  }

  .floating-text {
    margin-left: auto;
    margin-right: auto;
  }

}

.scroll-down {
  text-align: center;
  margin-bottom: 200px;
}



/* .floating-text h1:after {
  content: attr(data-title);
  font-size: 8vw;
  color: #B71C1C;
  font-weight: bold;
  display: flex;
  width: 30rem;
  position: absolute;
  top: 23%;
  right: 23%;
} */

/* floating-intro-end------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* about-me-start-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.playing-with-pixels {
  color: #ffffff;
  background-color: #212121;
  padding-top: 6%;
}

.playing-with-pixels div {
  text-align: center;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.playing-with-pixels div h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #B71C1C;
  text-shadow: -1px 1px #BDBDBD;
  padding-bottom: 4rem;
}

.playing-with-pixels div p {
  font-size: 1rem;
  line-height: 2rem;
  color: #bdbdbd;
}

.typing-demo {
  width: 100%;
  animation: typing 2s steps(19), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (max-width: 80em) {

  .playing-with-pixels div {
    width: 90vw;
  }

  .playing-with-pixels div h2 {
    font-size: 1.5rem;
  }
  
  .playing-with-pixels div p {
    font-size: 1rem;
    padding-bottom: 4rem;
  }

}

/* .my-passion {
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: hidden;
  padding-top: 3rem;
} */

/* .information-spinner{
  width: 10rem;
  height: 10rem;
  border: 2px solid transparent;
  border-top: #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-radius: 100%;
  margin-left: auto;
  animation: spin 2s infinite linear;
} */

/* #information-text {
  color: #B71C1C;
  position: relative;
  top: 40%;
  right: 3%;
}

#human-text {
  color: #B71C1C;
  position: relative;
  top: 40%;
  right: 42%;
}

#design-text {
  color: #B71C1C;
  position: relative;
  right: 48%;
  padding-top: 20%;
} */

/* .human-spinner{
  width: 10rem;
  height: 10rem;
  border: 2px solid transparent;
  border-bottom: #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-radius: 100%;
  animation: spin 2s infinite linear;
} */

/* .information-spinner, .human-spinner {
  grid-row: 1/2;
} */

/* .heart-center {
  position: relative;
  right: 48.2%;
  padding-top: 3%;
  width: 32px;
} */

/* .design-spinner{
  width: 10rem;
  height: 10rem;
  border: 2px solid transparent;
  border-bottom: 4px solid #ffffff;
  border-left:#ffffff;
  border-right: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-radius: 100%;
  animation: spin 2s infinite linear;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 2;
} */

/* @keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
} */

.dhi {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #212121;
  padding-bottom: 6rem;
  overflow-x: clip;
}

.design {
  position: absolute;
}

.humans {
  position: absolute;
}

.information {
  padding-top: 280px;
}

.heartt {
  padding-top: 96px; 
  position: absolute;
}

.body_homepage {
  font-family: 'Graphik', sans-serif;
}

@media (max-width: 600px) {

  .design img,
  .humans img,
  .information img {
    width: 240px;
  }

  .information {
    padding-top: 160px;
  }

  .heartt svg {
    width: 240px;
    margin-bottom: 40px;
  }

}


/* .loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff, rgba(0, 0, 0, 0));
  animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px #B71C1C;
} */

/* about-me-end-------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* website-parts-start----------------------------------------------------------------------------------------------------------------------------------- */

.website-parts {
  text-align: center;
  background-color: transparent;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 1000px) {

  .website-parts {
    margin-left: 0;
    margin-right: 0;
  }
}

.website-parts-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  /* width: min(80%, 80rem);
  margin-inline: auto; */
}

.website-parts-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  /* width: min(80%, 80rem);
  margin-inline: auto; */
}

@media (max-width: 600px) {

  .website-parts-1 {
    grid-template-columns: 100%;
  }

  .website-parts-2 {
    grid-template-columns: 100%;
  }

}

.website-parts h3 {
  color: #B71C1C;
  text-shadow: -1px 1px #212121;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.website-parts h4 {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.website-parts p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.uiux-part,
.my-sketches-part,
.python-part,
.d3-part,
.p5-part,
.cv-part {
  background-color: #212121;
  box-shadow: -4px 4px 0px #B71C1C;
  padding: 1rem;
  margin-right: 3vw;
  margin-left: 3vw;
}

.noud-black {
  text-decoration: none;
  color: #bdbdbd;
}

.noud-black:hover {
  color: #bdbdbd;
  opacity: 48%;
}

.noud-black-text {
  text-decoration: none;
  color: #212121;
}

.noud {
  text-decoration: none;
  color: #bdbdbd;
}

.uiux-part:hover,
.my-sketches-part:hover,
.python-part:hover,
.d3-part:hover,
.p5-part:hover,
.cv-part:hover {
  cursor: pointer;
  background-color: #212121;
  box-shadow: -4px 4px 0px #B71C1C;
}

@media (max-width: 600px) {

  .website-parts h3 {
    font-size: 1.5rem;
  }

  .website-parts h4 {
    font-size: 1.2rem;
  }

}

/* website-parts-end----------------------------------------------------------------------------------------------------------------------------------- */

.grid {
  background-image:
  repeating-linear-gradient(#bdbdbd 0 1px, transparent 1px 100%),
  repeating-linear-gradient(90deg, #bdbdbd 0 1px, transparent 1px 100%);
  background-size: 64px 64px;
}

.email-me {
  font-family: 'Graphik', sans-serif;
  color: #212121;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-weight: 600;
  margin-left: 20vw;
  margin-right: 20vw;
}

.email-me p {
  margin-bottom: 2rem;
  line-height: 4.2vw;
}

.email-me h4 {
  color: #B71C1C;
}

.email-me h4 {
  background-color: #B71C1C;
  box-shadow: -4px 4px 0px #212121;
  font-weight: bold;
  padding: 1rem;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-bottom: 3rem;
  color: #ffffff;
  text-align: center;
}

.noud-red {
  text-decoration: none;
}

.noud-red h4:hover {
  cursor: pointer;
}

@media (max-width: 600px) {

  .email-me {
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .email-me p {
    line-height: 1.2rem;
  }

  .email-me .noud-red {
    font-size: 4.2vw;
  }

}

.skills-one {
  font-family: 'Graphik', sans-serif;
  background-color: #212121;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.skills-one h3 {
  color: #B71C1C;
  text-shadow: -1px 1px #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1vw;
}

.skills-one p {
  color: #bdbdbd;
  padding-bottom: 2vw;
}

.skills-two {
  background-color: #212121;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.skills-two h3 {
  color: #B71C1C;
  text-shadow: -1px 1px #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1vw;
  padding-bottom: 2rem;
}

.skills-two {
  display: none;
}

@media (max-width: 840px) {

  .skills-two {
    display: block;
  }

  .skills-one {
    display: none;
  }
  
}

#tags a {
  color: #B71C1C;
}

.footer-new {
  font-family: 'Graphik', sans-serif;
  text-align: center;
  background-color: #212121;
  /* margin-top: 4vw; */
  margin-bottom: 4vw !important;
}

.footer-new p {
  padding-top: 8vw;
  padding-bottom: 4vw;
  color: #ffffff;
}

#myBtn {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 99;
  font-size: 12px;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background-color: #B71C1C;
  color: white;
  cursor: pointer;
  padding-top: 8px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}

#myBtn:hover {
  background-color: #ffffff;
  color: #212121;
}

.bar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* border: 1px solid black; */
  height: 6px;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}

#progress {
   width: 0%;
   height: 6px;
   background-color: #B71C1C;
}

/* python-proejcts-start------------------------------------------------------------------------------------------------------ */

.heading {
  color: #B71C1C;
  text-shadow: -2px 02px #212121;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Graphik', sans-serif;
  margin-top: 6vw;
  text-align: center;
}

.heading h1 {
  margin: 0;
}

@media (max-width: 1024px) {

  .heading {
    margin-left: 80px;
    margin-right: 80px;
  }

}

.noud-black-color {
  text-decoration: none;
  color: #B71C1C;
}

.python-description {
  color: #212121;
  font-size: 1vw;
  margin-left: 40vw;
  margin-right: 40vw;
  text-align: center;
  font-family: 'Graphik', sans-serif;
  margin-bottom: 2rem;
}

@media (max-width: 80em) {

  .python-description {
    margin-left: 25vw;
    margin-right: 25vw;
  }

}

.python-certificate {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.python-certificate img {
  width: 320px;
  border: 8px solid #212121;
  box-shadow: -4px 4px 0px #B71C1C;
  margin-left: 2vw;
}

.python-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: min(90%, 100rem);
  margin-inline: auto;
  font-family: 'Graphik', sans-serif;
}

#python-boxes {
  background-color: #212121;
  box-shadow: -4px 4px 0px #B71C1C;
  margin: 2vw;
  padding: 2rem;
}

#python-boxes ul li a {
  text-decoration: none;
  color: #bdbdbd
}

#python-boxes ul li a:hover {
  color: red;
}

#python-boxes p {
  font-weight: bold;
  color: #bdbdbd;
  font-size: 1.2vw;
  padding-bottom: 2rem;
}

#python-boxes ul li {
  padding-bottom: 1rem;
  font-size: 0.8vw;
}

#python-boxes p span {
  font-weight: 400;
  background-color: #BDBDBD;
  color: #212121;
  padding: 0.5rem;
  margin: 0.5rem;
  line-height: 2.5rem;
  border-radius: 10px;
  font-size: 1vw;
}

@media (max-width: 900px) {

  .python-grid {
    grid-template-columns: 100%;
  }

  #python-boxes ul li {
    padding-bottom: 1rem;
    font-size: 2vw;
  }

  #python-boxes p span {
    font-size: 1.5vw;
  }

  .python-description {
    font-size: 2.4vw;
}

#python-boxes p {
  font-weight: bold;
  font-size: 2.5vw;
}

}

/* python-proejcts-end------------------------------------------------------------------------------------------------------ */

/* p5-proejcts-start------------------------------------------------------------------------------------------------------ */

.mypfivedeets {
  font-family: 'Graphik', sans-serif;
}

.mypfivedeets h2 {
  text-align: center;
  font-size: 2vw;
  background-color: #212121;
  box-shadow: -4px 4px 0px #B71C1C;
  margin-left: 30vw;
  margin-right: 30vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #bdbdbd;
}

.songlist {
  font-size: 1vw;
}

#p5head {
  margin-top: 2vw;
}

.mypfivedeets p a {
  color: #B71C1C;
}

.mypfivedeets p {
  text-align: center;
  font-size: 1vw;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 1rem;
  color: #212121;
}



.mypfivedeets a {
  text-decoration: none;
  color: #B71C1C;
  font-weight: bold;
}

.mypfivedeets a:hover {
  color: #212121;
}

.full-song-list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 2vw;
  margin-top: 2vw;
  padding-bottom: 2vw;
}

.song-list {
  list-style: none;
}

.songlist {
  margin-top: 1rem;
  margin-right: 1rem;
}

.p5-demo {
  text-align: center;
}

.p5-screen {
 background-color: #212121; 
 box-shadow: -4px 4px 0px #B71C1C;
 padding-top: 2rem;
 padding-bottom: 2rem;
 margin-left: 15vw;
 margin-right: 15vw;
}

@media (max-width: 800px) {

  .p5-screen iframe {
    width: 240px;
    height: 240px;
  }

  .mypfivedeets p {
    line-height: 2.4vw;
    font-size: 2vw;
  }

}

@media (max-width: 80em) {

  .mypfivedeets p {
    font-size: 2vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }

  .songlist {
    font-size: 1.6vw;
  }

}

#p5-text {
  margin-bottom: 2rem;
}

.p5explain {
  font-family: 'Graphik', sans-serif;
  margin-top: 4rem;
}

.p5explain p {
  margin-left: 30vw;
  margin-right: 30vw;
  font-size: 1rem;
  color: #212121;
}

.p5explain code div {
  background-color: #212121;
  box-shadow: -4px 4px 0px #B71C1C;
  color: #bdbdbd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 30vw;
  margin-right: 30vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* p5-proejcts-end------------------------------------------------------------------------------------------------------ */

/* loader-start */

.my-loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  z-index: 99999999;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.my-loader p {
  font-family: 'Graphik', sans-serif;
  text-align: center;
  color: #B71C1C;
  position: relative;
  top: 50vh;
}

.sk-folding-cube {
  top: 48vh;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B71C1C;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* loader-end */

.underline-animation {
  position: relative;
  text-decoration: none;
}

.underline-animation:hover {
  cursor: pointer;
}

.underline-animation::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #B71C1C;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-animation:hover::before {
  transform: scaleX(1);
}

/* ------------- */

.underline-animation-two {
  position: relative;
  text-decoration: none;
}

.underline-animation-two:hover {
  cursor: pointer;
}

.underline-animation-two::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #B71C1C;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline-animation-two:hover::before {
  transform: scaleX(1);
}

/* design-portfolio-start-------------------------------------------------------------------------------------------------------------------- */

.design-portfolio-container {
  padding-left: 78px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 4vw;
}

.portfolio-grid img {
  margin-top: 4vw;
  width: 12vw;
  margin-bottom: 1vw;
  box-shadow: 4px 4px 16px #bdbdbd;
}

.portfolio-grid img:hover {
  cursor: pointer;
  opacity: 88%;
}

@media (max-width:600px) {

  .portfolio-grid img {
    width: 32vw;
  }

  /* .portfolio-grid img {
    width: 24vw;
  } */

  .portfolio-grid {
    grid-template-columns: 100%;
    text-align: center;
  }

}

/* design-portfolio-end-------------------------------------------------------------------------------------------------------------------- */

.d3-portfolio-container h1 {
  text-shadow: -2px 02px #ffffff;
}

.d3-portfolio-container {
  padding-left: 78px;
  background-color: #212121;
  font-family: 'Graphik', sans-serif;
}

.d3-portfolio-container a {
  text-decoration: none;
  color: #ffffff;
}

.d3-portfolio-container p {
  font-weight: bold;
}

.d3-one {
  display: grid;
  grid-template-columns: 50% 50%;
}

.d3-two {
  display: grid;
  grid-template-columns: 50% 50%;
}

.d3-portfolio-container img {
  width: 24vw;
}

.d3-one img,
.d3-two img {
  margin-left: 20vw;
  margin-top: 4vw;
  margin-bottom: 2vw;
  box-shadow: 4px 4px 16px #616161;
}

.grid-d3 {
  background-image:
  repeating-linear-gradient(#424242 0 1px, transparent 1px 100%),
  repeating-linear-gradient(90deg, #424242 0 1px, transparent 1px 100%);
  background-size: 64px 64px;
}

.d3-one h4,
.d3-two h4 {
  padding-top: 80px;
  font-size: 1.6vw;
}

.d3-one p,
.d3-two p {
  color: #bdbdbd;
  font-size: 0.8vw;
  padding-top: 1vw;
  font-weight: 400;
}

@media (max-width: 80em) {

  .d3-one {
    grid-template-columns: 100%;
  }
  
  .d3-two {
    grid-template-columns: 100%;
  }

  .d3-one img,
  .d3-two img {
    margin-left: 0;
}

  .d3-one,
  .d3-two {
    text-align: center;
  }

  .d3-one h4,
  .d3-two h4 {
    padding-top: 8px;
    text-align: center;
  }

  .d3-one img,
  .d3-two img {
    width: 80%;
}

.d3-one h4,
.d3-two h4 {
  font-size: 3.2vw;
}

.d3-one p,
.d3-two p {
  font-size: 1.6vw;
  text-align: center;
}

}